body,
html {
	background-color: rgba(255, 255, 255, 0.9);
	height: 100%;
	margin: 0;
}
body {
	align-content: center;
	display: flex;
	flex-direction: column;
	font-family: Consolas, monospace;
	justify-content: center;
	text-align: center;
}
a {
	color: #08b;
	text-decoration: none;
}
div {
	background-repeat: no-repeat;
	background-size: contain;
	height: 200px;
	position: fixed;
	width: 100px;
	z-index: -1;
}
h1 {
	transition: 0.5s;
}
